body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

#adivinanza {
    padding: 10px;
    font-size: 18px;
}

#verificar {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#verificar:hover {
    background-color: #2980b9;
}

#resultado {
    font-size: 20px;
    margin-top: 20px;
}

#pista {
    font-style: italic;
    color: #666;
    margin-top: 10px;
}

button#reiniciar {
    background-color: #27ae60;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button#reiniciar:hover {
    background-color: #219d49;
}